<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SMpke Generate Report Success Story">
  <test thread-count="2" name="Google Feature file">
   
    <classes>
    <class name="CukerRunner.java"></class>
    </classes>
    
    
    
  </test> <!-- Exmple -->
</suite> <!-- Suite -->
